* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;

}

/* nav */
nav {
  width: 100%;
  height: 100px;
  background-color: rgba(145, 59, 156, 0.804);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heading{
  text-align: center;
  margin: 3%;

}

#logo {
  width: 120px;
  height: 120px;
}

.input {
  display: flex;
}

input {
  width: 450px;
  height: 40px;
}


i {
  background-color: rgb(222, 204, 70);
  color: #fff;
  padding-top: 10px;
  padding-left: 6px;
  /* margin-left: -30px;   */
  width: 30px;
  border: none;
}

.cart {
  display: flex;
  padding: 0px 50px;
  width: 30px;
  height: 30px;
}

.cart img {
  padding-left: 10px;
}

/* home */
.home {
  display: grid;
  grid-template-columns: 20% 75%;
  margin: 30px 0;
  justify-content: space-evenly;
  align-items: center;
}

.categories {
  background-color: aliceblue;
  border: 1px solid wheat;
  padding: 15px;
  width: 100%;
  height: 250px;
}

.categories h2 {
  background-color: rgba(71, 71, 186, 0.804);
  color: #fff;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.categories li {
  list-style-type: none;
  padding: 8px 0;
  padding-left: 20px;
  font-size: 20px;
}

.categories li a {
  text-decoration: none;
  color: #000;
}

.background-img {
  background: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.438)),url('../img/bg-img.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
}


.background-img h2 {
  z-index: 2;
  text-align: center;
  font-size: 28px;
}

.background-img img {
  width: 300px;
  margin: 20px 0;
}



.mobiles {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14%;
  justify-content: space-around;
}

.mobiles div {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(236, 227, 139);
  border: 1px solid gainsboro;
  text-align: center;
  margin: 10px 0;
}

.mobiles div img {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  /* margin: 10px; */
  background-color: transparent;
}

.mobiles span p {
  padding: 3px;
  font-size: small;
}

.mobiles span p:first-child {
  font-weight: bold;
}



.laptops {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: space-around;
}

.laptops div {
  background-color: rgb(236, 227, 139);
  border: 1px solid #c8e6f6;
  text-align: center;
}

.laptops div img {
  height: 160px;
  width: 180px;
  border-radius: 5px;
  margin: 15px;
  margin-bottom: 5px;
  background-color: transparent;
}

.notify {
  background-color: #00000078 !important;
  color: #fff;
  width: 90px;
  height: 40px;
  padding: 0;
  margin-top: 10px;
  box-shadow: rgb(0, 0, 0.35) 0px 5px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.notify p {
  padding: 10px;
  font-size: small;
}

.laptops h4 {
  padding-top: 5px;
  padding-bottom: 15px;
}



.smart-watches {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  /* justify-content: space-around; */
}

.smart-watches div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(236, 227, 139);

  width: 400px;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px 50px;
  box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 10px;
}

.smart-watches div img {
  width: 200px;
  height: 190px;
}

.smart-watches p {
   font-weight: bold;
   font-size: 12px;
   color: rgba(71, 71, 186, 0.804);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  flex-direction: column;
  /* background-color: #91b5d3; */
  background-color: #333333;
}

.social-media-icons{
  display: flex;
  justify-content: center;
  margin: 10px 0;

}
.copy-right {
  color: white;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .mobiles div img {
    width: 100px;
    height: 100px;
  }
}





/* *Responsiveness of the web pages */ 
/* * for tablet  */

@media (max-width: 768px){

  nav {
    width: 100%;
  }

  #logo {
    width: 90px;
    height: 90px;
  }
  input {
    width: 350px;
    height: 30px;
  }
  .input i {
    height: 30px;
    padding-top: 5px;
  }

  .home {
   margin: 20px 40px;
   display: flex;
  }
  .categories {
    padding: 7px;
    width: 30%;
    height: auto;
    margin-right: 20px;
  }
  .categories h2 {
    font-size: 20px;
    border-radius: 2px;
  }

  .categories ul{
    padding: 10px;
    line-height:  15px;
  }

  .categories ul a {
    font-size: 14px;
  }

  .background-img h2 {
    font-size: 20px;
  }

  .background-img {
    width:  70%;
    height: 212px;
    margin: 0 auto;
  }

  .background-img img {
    width: 40%;
  }

  /* *smart phones */

.mobiles {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  margin: 0 40px;
  /* padding-left: 10px; */
}
.mobiles div {
  width: 100%;
}

/* *laptops */

.laptops {
  display: grid;
  grid-template-columns: 45% 45%;
  margin: 0 40px;
}
.laptops div {
  margin-bottom: 20px;
}

/* smart watches */
.smart-watches {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
}

.smart-watches div {
  width: 270px;
  margin: 10px auto;
  padding: 0 30px;
}

.smart-watches div img {
  width: 140px !important;
  height: 130px !important;
}

.smart-watches div p {
  margin-right: 10px;
  font-size: 10px;
}

footer {
  width: 100%;
}

/* .all-right {
  width: 100%;
} */
}

@media (max-width: 531px) {
  footer {
    width: 100%;
  }

}



/* tablet */

@media (max-width: 690px) {
  nav {
    width: 100%;
  }

  #logo {
    width: 80px;
    height: 80px;
  }

  input {
    width: 300px;
    height: 30px;
  }

  .cart {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    padding-top: 2px;
  }


  .smart-watches {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
  }
  
  .smart-watches div {
    width: 250px;
    margin: 10px auto;
    padding: 0 20px;
  }
  
  .smart-watches div img {
    width: 120px !important;
    height: 110px !important;
  }
  
  .smart-watches div p {
    margin-right: 10px;
    font-size: 10px;
  }

  /* home */
  .background-img h2 {
    font-size: 15px;
  }

  .background-img img {
    width: 35%;
  } 
}





@media (max-width: 640px) {
  .smart-watches {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
  }
  
  .smart-watches div {
    width: 220px;
    margin: 10px auto;
    padding: 0 10px;
  }
  
  .smart-watches div img {
    width: 110px !important;
    height: 90px !important;
  }
  
  .smart-watches div p {
    margin-right: 10px;
    font-size: 10px;
  }
}


@media (max-width: 570px) {
  nav {
    width: 100%;
  }


  input {
    width: 200px;
  }


  .categories {
    padding: 4px;
  }

  .categories h2 {
    font-size: 15px;
  }

  .categories ul{
    padding: 3px;
    line-height:  7px;
  }

  .categories ul a {
    font-size: 12px;
  } 


  .background-img h2 {
    font-size: 10px;
  }

  .background-img {
    width:  70%;
    height: 160px;
  }



  .background-img img {
    width: 30%;
  } 

  .mobiles {
    grid-template-columns: 40% 40%;
  }

  .laptops div img {
    width: 100px;
    height: 100px;
  }
  

  .smart-watches div {
    width: 195px;
    margin: 10px auto;
    padding: 0 10px;
  }


  
  .smart-watches div img {
    width: 105px !important;
    height: 85px !important;
  }
  
  .smart-watches div p {
    margin-right: 10px;
    font-size: 8px;

  } 

  footer {
    width: 100%;
  }

}

@media (max-width: 519px) {
  nav {
    width: 100%;
  }
  #logo {
    width: 60px;
    height: 60px;
  }
  input {
    width: 150px;
  }

  .home{
    display: flex;
    flex-direction: column;
  }

  .mobiles div {

    height: 200px;
  }

  .categories {
    padding: 4px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .background-img {
    width:  100%;
    height: 150px;
    margin: 0 auto;
  }

  .smart-watches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
  }

  .smart-watches div {
    width: 250px;
    place-self: center;
    justify-content: center;
  }
  
  .smart-watches div p {
    margin-right: 10px;
    font-size: 10px;
  }

  .social-media-icons img {
    width: 30px;
    height: 30px;
  }


}


@media (max-width: 400px){
  nav {
    width: 100%;
  }

  .laptops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

  .laptops > div {
    width: 250px;
  }
}


